

$primary: #dc3545;
$card-height: 100%;

@import "../node_modules/bootstrap/scss/bootstrap";

body {
  padding-top: 70px;
}

.container {
  border-width: 1px;
  border-color: rgba(0, 0, 0, 0.125);
  border-style: solid;
  margin-top: 1em;
  padding-bottom: 1em;
  padding-top: 1em;
}
